1. KHAI B√ÅO TH∆Ø VI·ªÜN

In [6]:
import pandas as pd
import re
from textblob import TextBlob

2. LOAD DATA V√Ä XEM D·ªÆ LI·ªÜU

In [7]:
data = pd.read_csv("D:\DATN\Social Media Sentiments Analysis Dataset\DeBug  data\data_source\sentimentdataset.csv")
df = pd.DataFrame(data)
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HaoPham\AppData\Local\Temp\ipykernel_10468\3030248052.py:1: SyntaxWarning: invalid escape sequence '\D'
  data = pd.read_csv("D:\DATN\Social Media Sentiments Analysis Dataset\DeBug  data\data_source\sentimentdataset.csv")

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! üí™ ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

3. KI·ªÇM TRA V√Ä T√åM HI·ªÇU D·ªÆ LI·ªÜU

In [8]:
# Th√¥ng tin v·ªÅ d·ªØ li·ªáu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Unnamed: 0    732 non-null    int64
 2   Text          732 non-null    object
 3   Sentiment     732 non-null    object
 4   Timestamp     732 non-null    object
 5   User          732 non-null    object
 6   Platform      732 non-null    object
 7   Hashtags      732 non-null    object
 8   Retweets      732 non-null    float64
 9   Likes         732 non-null    float64
 10  Country       732 non-null    object
 11  Year          732 non-null    int64
 12  Month         732 non-null    int64
 13  Day           732 non-null    int64
 14  Hour          732 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 85.9+ KB

In [9]:
# Th·ªëng k√™ c∆° b·∫£n
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0.1,732.0,366.464481,211.513936,0.0,183.75,366.5,549.25,732.0
Unnamed: 0,732.0,369.740437,212.428936,0.0,185.75,370.5,553.25,736.0
Retweets,732.0,21.508197,7.061286,5.0,17.75,22.0,25.00,40.0
Likes,732.0,42.901639,14.089848,10.0,34.75,43.0,50.00,80.0
Year,732.0,2020.471311,2.802285,2010.0,2019.00,2021.0,2023.00,2023.0
Month,732.0,6.122951,3.411763,1.0,3.00,6.0,9.00,12.0
Day,732.0,15.497268,8.474553,1.0,9.00,15.0,22.00,31.0
Hour,732.0,15.521858,4.113414,0.0,13.00,16.0,19.00,23.0

In [10]:
# Ki·ªÉm tra d·ªØ li·ªáu null
df.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
Text            0
Sentiment       0
Timestamp       0
User            0
Platform        0
Hashtags        0
Retweets        0
Likes           0
Country         0
Year            0
Month           0
Day             0
Hour            0
dtype: int64

In [11]:
# Ki·ªÉm tra d·ªØ li·ªáu tr√πng l·∫∑p
df.duplicated().sum()

np.int64(0)

In [12]:
# T·ªïng quan 
df.shape

(732, 15)

Sau khi ki·ªÉm tra d·ªØ li·ªáu th√¨ c√≥ nh∆∞ng ƒëi·ªÉm ch√≠nh nh∆∞ sau:

    + T·ªïng quang: c√≥ 732 d√≤ng v√† 15 c·ªôt
    + G√≠a tr·ªã thi·∫øu: kh√¥ng c√≥ gi√° tr·ªã thi·∫øu
    + C√°c tr∆∞·ªùng d·ªØ li·ªáu: trong ƒë√≥ ch·ªâ c√≥ 1 tr∆∞·ªùng l√† ph√¢n lo·∫°i: 'Timestamp'(theo d·∫°ng ng√†y),
    c√≤n l·∫°i h·∫≠u nh∆∞ l√† theo d·∫°ng s·ªë v√† chu·ªói.
    + Ngo·∫°i l·ªá: kh√¥ng c√≥ c√°c ngo·∫°i l·ªá
    + C√°c d·ªØ li·ªáu tr√πng l·∫≠p: kh√¥ng c√≥ d·ªØ li·ªáu tr√πng l·∫≠p
-----------------------------------------------------------------
nh·∫≠n x√©t: d·ªØ li·ªáu hi·ªán ƒëang c√≥ 2 c·ªôt kh√¥ng x√°c ƒë·ªãnh c·∫ßn lo·∫°i b·ªè. C≈©ng nh∆∞ d·ªØ li·ªáu trong m·ªói d√≤ng ·ªü c·ªôt 'Text' c√≥ ch·ªØa c√°c bi·ªÉu t∆∞·ª£ng c·∫£m x√∫c, nh·ªØng c√°i n√†y s·∫Ω g√¢y ra l·ªói khi up n√≥ l√™n SQL. Sau c√πng l√† ƒë·ªãnh d·∫°ng d·ªØ li·ªáu ·ªü c·ªôt 'Timestamp' l·∫°i th√†nh Datetime.

4. X·ª≠ l√≠ d·ªØ li·ªáu

4.1 X√≥a c√°c d·ªØ li·ªáu l·ªói

In [13]:
# X√≥a c·ªôt 'Unnamed: 0.1', 'Unnamed: 0'
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [14]:
# X√≥a c√°c k√≠ t·ª± ƒë·∫∑c bi·ªát
# H√†m lo·∫°i b·ªè k√Ω t·ª± ƒë·∫∑c bi·ªát, emoji v√† gi·ªØ l·∫°i ch·ªØ c√°i, ch·ªØ s·ªë
def clean_text(text):
    # S·ª≠ d·ª•ng regex ƒë·ªÉ lo·∫°i b·ªè k√Ω t·ª± ƒë·∫∑c bi·ªát v√† emoji
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Ch·ªâ gi·ªØ l·∫°i ch·ªØ c√°i v√† ch·ªØ s·ªë
    text = re.sub(r'\s+', ' ', text).strip()  # X√≥a kho·∫£ng tr·∫Øng th·ª´a
    return text

# √Åp d·ª•ng h√†m v√†o c·ªôt 'Text'
df['Text'] = df['Text'].apply(clean_text)

In [15]:
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c√°c tr∆∞·ªùng d·ªØ li·ªáu text
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c·ªôt 'Platform'
df['Platform'] = df['Platform'].str.strip()
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c·ªôt 'Country'
df['Country'] = df['Country'].str.strip()
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c·ªôt 'Sentiment'
df['Sentiment'] = df['Sentiment'].str.strip()
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c·ªôt 'Hashtags'
df['Hashtags'] = df['Hashtags'].str.strip()
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c·ªôt 'User'
df['User'] = df['User'].str.strip()
# X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c·ªôt 'Text'
df['Text'] = df['Text'].str.strip()

4.2. Chu·∫©n h√≥a d·ªØ li·ªáu

In [16]:
# ƒê·ªïi ƒë·ªãnh d·∫°ng c·ªôt Timestamp th√†nh ki·ªÉu datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
# ƒê·ªïi ƒë·ªãnh d·∫°ng c·ªôt Likes, Retweets th√†nh ki·ªÉu int64
df[['Likes', 'Retweets']] = df[['Likes', 'Retweets']].astype('int64')

In [17]:
# Gi·ªõi h·∫°n chi·ªÅu d√†i chu·ªói t·ªëi ƒëa 255 k√Ω t·ª± c·ªßa c·ªôt Text
df['Text'] = df['Text'].str.slice(0, 255)

4.3 Data sau khi x·ª≠ l√≠

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Text       732 non-null    object
 1   Sentiment  732 non-null    object
 2   Timestamp  732 non-null    datetime64[ns]
 3   User       732 non-null    object
 4   Platform   732 non-null    object
 5   Hashtags   732 non-null    object
 6   Retweets   732 non-null    int64
 7   Likes      732 non-null    int64
 8   Country    732 non-null    object
 9   Year       732 non-null    int64
 10  Month      732 non-null    int64
 11  Day        732 non-null    int64
 12  Hour       732 non-null    int64
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 74.5+ KB

In [19]:
df.head()

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,Enjoying a beautiful day at the park,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,Traffic was terrible this morning,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8
2,Just finished an amazing workout,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20,40,USA,2023,1,15,15
3,Excited about the upcoming weekend getaway,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8,15,UK,2023,1,15,18
4,Trying out a new recipe for dinner tonight,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12,25,Australia,2023,1,15,19

4.4 T·∫°o df1 t·ª´ df ƒë√£ c√≥

In [20]:
df1 = df.copy()

4.5 Ph√¢n lo·∫°i c√°c c·∫£m x√∫c th√†nh 3 nh√≥m c·∫£m x√∫c ch√≠nh

In [21]:
# H√†m ph√¢n lo·∫°i c·∫£m x√∫c
def classify_sentiment(text):
    # Gi·ªØ nguy√™n n·∫øu l√† Neutral
    if text.lower() == 'neutral':
        return 'Neutral'
    else:
        # S·ª≠ d·ª•ng TextBlob ƒë·ªÉ x√°c ƒë·ªãnh polarity cho c√°c gi√° tr·ªã kh√°c
        analysis = TextBlob(text)
        polarity = analysis.sentiment.polarity
        
        # Ph√¢n lo·∫°i d·ª±a tr√™n polarity
        if polarity > 0:
            return 'Positive'
        else:
            return 'Negative'

# √Åp d·ª•ng h√†m ph√¢n lo·∫°i cho c·ªôt Sentiment
df1['Summarize Sentiment'] = df1['Sentiment'].apply(classify_sentiment)

In [22]:
# X√≥a c·ªôt Sentiment
df1 = df1.drop(['Sentiment'], axis=1)

In [23]:
# # ƒê·ªïi v·ªã tr√≠ c·ªôt Summarize Sentiment
Summarize_Sentiment = df1.pop('Summarize Sentiment')
df1.insert(1, 'Summarize Sentiment', Summarize_Sentiment)

---
---

In [24]:
# T√°ch c√°c hashtag b·∫±ng d·∫•u ph·∫©y ho·∫∑c kho·∫£ng tr·∫Øng
# df1['Hashtags_Split'] = df1['Hashtags'].str.split('[, ]+')  # S·ª≠ d·ª•ng regex ƒë·ªÉ t√°ch b·∫±ng d·∫•u ph·∫©y ho·∫∑c kho·∫£ng tr·∫Øng
# # Chuy·ªÉn t·∫•t c·∫£ hashtag th√†nh m·ªôt danh s√°ch duy nh·∫•t
# hashtags = df1['Hashtags_Split'].dropna().sum()  # G·ªôp c√°c danh s√°ch con th√†nh m·ªôt danh s√°ch l·ªõn
# hashtags = pd.DataFrame(hashtags)

In [25]:
df1.head()

,Text,Summarize Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,Enjoying a beautiful day at the park,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,Traffic was terrible this morning,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8
2,Just finished an amazing workout,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20,40,USA,2023,1,15,15
3,Excited about the upcoming weekend getaway,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8,15,UK,2023,1,15,18
4,Trying out a new recipe for dinner tonight,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12,25,Australia,2023,1,15,19

In [26]:
df.head()

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,Enjoying a beautiful day at the park,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12
1,Traffic was terrible this morning,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8
2,Just finished an amazing workout,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20,40,USA,2023,1,15,15
3,Excited about the upcoming weekend getaway,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8,15,UK,2023,1,15,18
4,Trying out a new recipe for dinner tonight,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12,25,Australia,2023,1,15,19

In [27]:
df1.shape

(732, 13)

T·ªïng quan c√°c b∆∞·ªõc x·ª≠ l√Ω d·ªØ li·ªáu:

1. X√≥a C√°c d·ªØ li·ªáu l·ªói:

1.1. X√≥a c·ªôt 'Unnamed: 0.1', 'Unnamed: 0'

1.2 X√≥a c√°c k√Ω t·ª± ƒë·∫∑c bi·ªát ·ªü c·ªôt "Text"

1.3 X√≥a kho·∫£ng tr·∫Øng ·ªü ƒë·∫ßu v√† cu·ªëi c√°c chu·ªói trong c√°c tr∆∞·ªùng d·ªØ li·ªáu c√≥ ki·ªÉu "text"

2. Chu·∫©n h√≥a d·ªØ li·ªáu:

2.1 ƒê·ªïi ƒë·ªãnh d·∫°ng c·ªôt 'Timestamp' th√†nh ki·ªÉu datetime

2.2 ƒê·ªïi ƒë·ªãnh d·∫°ng c·ªôt 'Likes', 'Retweets' th√†nh ki·ªÉu int64

2.3 Gi·ªõi h·∫°n chi·ªÅu d√†i chu·ªói t·ªëi ƒëa 255 k√Ω t·ª± c·ªßa c·ªôt Text

3. T·∫°o dataframe m·ªõi (df1):

3.1 Ph√¢n lo·∫°i c√°c c·∫£m x√∫c ·ªü c·ªôt 'Sentiment' th√†nh 3 nh√≥m c·∫£m x√∫c ch√≠nh:

 3.1.1 T·∫°o c·ªôt 'Sumerize Sentiment' ch·ª©a values l√† d·ªØ li·ªáu ƒë√£ ph√¢n lo·∫°i ·ªü c·ªôt 'Sentiment'

3.2 X√≥a c·ªôt 'Sentiment'

3.3 ƒê·ªïi v·ªã tr√≠ c·ªôt 'Sumerize Sentiment'

5. L∆∞u d·ªØ li·ªáu v·ªÅ file csv

In [28]:
# L∆∞u df ƒë√£ x·ª≠ l√≠
df.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset.csv", index=False)
df1.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset01.csv", index=False)
# hashtags.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\hashtags.csv", index=False, header=False)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HaoPham\AppData\Local\Temp\ipykernel_10468\3121500483.py:2: SyntaxWarning: invalid escape sequence '\D'
  df.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset.csv", index=False)
C:\Users\HaoPham\AppData\Local\Temp\ipykernel_10468\3121500483.py:3: SyntaxWarning: invalid escape sequence '\D'
  df1.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset01.csv", index=False)
C:\Users\HaoPham\AppData\Local\Temp\ipykernel_10468\3121500483.py:2: SyntaxWarning: invalid escape sequence '\D'
  df.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset.csv", index=False)
C:\Users\HaoPham\AppData\Local\Temp\ipykernel_10468\3121500483.py:3: SyntaxWarning: invalid escape sequence '\D'
  df1.to_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset01.csv", index=False)

OSError: Cannot save file into a non-existent directory: 'E:\DATN\Sentiment_Analysis\data\cleaned_data'

In [391]:
# ƒê·ªçc d·ªØ li·ªáu t·ª´ file CSV
data_json = pd.read_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset01.csv")

# Chuy·ªÉn ƒë·ªïi DataFrame sang ƒë·ªãnh d·∫°ng JSON
data_json.to_json("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset.json", orient='records', lines=True)

print("ƒê√£ chuy·ªÉn ƒë·ªïi CSV th√†nh JSON th√†nh c√¥ng!")

ƒê√£ chuy·ªÉn ƒë·ªïi CSV th√†nh JSON th√†nh c√¥ng!

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
C:\Users\KHANH\AppData\Local\Temp\ipykernel_50568\2703791328.py:2: SyntaxWarning: invalid escape sequence '\D'
  data_json = pd.read_csv("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset01.csv")
C:\Users\KHANH\AppData\Local\Temp\ipykernel_50568\2703791328.py:5: SyntaxWarning: invalid escape sequence '\D'
  data_json.to_json("E:\DATN\Sentiment_Analysis\data\cleaned_data\sentimentdataset.json", orient='records', lines=True)